.navbar{
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}

.heading{
    margin: 1.5rem 0;
}

.flexy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-heading{
    margin-bottom: 0.75rem;
}

.box{
    margin-top: 5rem;
    border: 1px solid black;
    padding: 1rem;
}

.buttons-container{
    margin-top: 1.25rem;
}

button{
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

/* 
input::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
} */

.submit-button{
    margin-right: 2rem;
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(1000);
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: .3s;
}


.services__modal-content {
    position: relative;
    background-color: whitesmoke;
    padding: 1.5rem;
    border-radius: 0.5rem;
    max-width: 20rem;
}

.services__modal-close{
    cursor: pointer;
}

.content-header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}